# Article Teasers using external sources (Polymorphic Article Teasers)
Shows an article teaser list like @ta-interaktiv/react-article-teasers, but allows you to define an external source with a list of article IDs for quick updating.

## Installation

```bash
yarn add @ta-interaktiv/react-polymorphic-article-teasers
```

{{>main}}
